@model IEnumerable<PlantillaAlmacen.Models.MovimientoInventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdArticulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMovimiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMovimiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMovimiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
